header h1 {
  padding: 30px 0;
}
.top-header {
  border-bottom: 1px solid gray;
}
.container {
  margin: 0 34px;
}
.heading {
  padding: 10px 0;
}
thead th {
  padding: 5px;
}
tbody td {
  padding: 5px;
}
.link-first {
  padding-left: 30px;
}
.show-container p {
  padding: 10px 32px;
}
.station-container {
  border-top: 1px solid gray;
  padding: 10px 0;
}
